
#b-container {
    margin: auto;
    margin-top: 5vh;
    width: 90vw;
}

.game-grid {
    width: 34.5vw;
    margin: 20vh 0px 0px 0vw;
    display: grid;
    padding: 3px;
    grid-gap: 5px;
    grid-template-columns: repeat(8, 11vw);
}

.tile {
    background-color: #444;
    border: 1px solid black;
    height: 11vh;
    border-radius: 5px;
}

.participant-img {
    width: 5.5vh;
    height: 5.5vh;
    margin-top: 2.75vh;
}