
#container {
    margin: auto;
    margin-top: 5vh;
    width: 90vw;
}

.game-grid {
    width: 34.5vw;
    float: left;
    margin: 20vh 0px 0px 7vw;
    display: grid;
    padding: 3px;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 11vw);
}

.tile {
    background-color: #444;
    height: 11vh;
    border-radius: 5px;
}

.participant-img {
    width: 5.5vh;
    height: 5.5vh;
    margin-top: 2.75vh;
}

#ability-grid {
    margin: 1vh 0px 0px 7vw;
    float: left;
    display: grid;
    padding: 3px;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 3vw);
}

.ability {
    background-color: #444;
    height: 3vw;
    width: 3vw;
    border: 1px solid gray;
    border-radius: 50px;
    cursor: pointer;
}

.ability:hover {
    border: 1px solid gold;
}

.ability-img {
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

.ability-bind {
    position: absolute;
    width: 2%;
    margin: 0px 0px 0px 1.2vw;
    font-size: 0.7vw;
    font-style: bold;
}

.ability-cd-text {
    position: absolute;
    width: 2%;
    margin: 0.8vw 0px 0px 0.4vw;
    font-size: 0.9vw;
}