
#b-container {
    width: 90vw;
    margin: auto;
}

.game-grid {
    display: grid;
    justify-content: center;
    margin-top: 5vh;
    padding: 3px;
    grid-gap: 5px;
    grid-template-columns: repeat(8, 8vw);
}

.cell {
    background-color: #444;
    border: 1px solid black;
    height: 11vh;
    border-radius: 5px;
}

.participant {
    width: 7vh;
    height: 7vh;
    margin: 1vh auto 0vh auto;
}

.participant-img {
    width: inherit;
    height: inherit;
}

.dmg-display {
    position: absolute;
    margin-left: 1.5rem;
    animation: float-up 2.5s forwards, fade-out 1s forwards;
    animation-delay: 0s, 1s;
}

.dot-display {
    position: absolute;
    margin-left: 3rem;
    animation: float-up 2.5s forwards, fade-out 1.5s forwards;
    animation-delay: 0s, 1s;
    opacity: 0;
}

.health-label {
    position: absolute;
    width: inherit;
    text-align: center;
    margin: 7.5vh 0px 0px -7vh;
    z-index: 2;
    font-size: 0.7rem;
}

.health-bar {
    background-color: green;
    border: none;
    width: 7vh;
    height: 1.5vh;
    display: block;
    margin: auto;
    position: relative;
}

::-moz-progress-bar {
    background-color: green;
}

@keyframes float-up {
    from {
        margin-top: 0rem;
        opacity: 1;
    }
    to {
        margin-top: -5rem;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@-moz-document url-prefix() {
    .health-bar {
        background-color: gray;
    }
  }