
#container {
    margin: auto;
    margin-top: 5vh;
    width: 90vw;
    height: 90vh;
}

.game-grid {
    width: 34.5vw;
    float: left;
    margin: 20vh 0px 0px 7vw;
    display: grid;
    padding: 3px;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 11vw);
}

.p-tile {
    background-color: #444;
    border: 1px solid blue;
    color: #fff;
    height: 11vh;
    border-radius: 5px;
}

.e-tile {
    background-color: #444;
    border: 1px solid red;
    color: #fff;
    height: 11vh;
    border-radius: 5px;
}

.participant-img {
    width: 5.5vh;
    height: 5.5vh;
    margin-top: 2.75vh;
}

#ability-grid {
    width: 5.5vw;
    margin: 2vh 0px 0px 7vw;
    float: left;
    display: grid;
    padding: 3px;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 3em);
}

.ability {
    background-color: #444;
    height: 3em;
    width: 3em;
    border-radius: 50px;
    border: 1px solid gray;
}

.ability-img {
    height: 3em;
    width: 3em;
    border-radius: inherit;
}